#footer{
    display: flex;
    align-items: center;
    background-color: #ebebeb75;
    img{
        height: 60px;
        border-radius: 2px;
        margin: 20px;
        background-color: white;
    }
}