



#navbar {
 
  color: white;
  display: flex;
  justify-content: flex-start;
  a{
    color: white;
      text-decoration: none;
  }
  .menu-pont {
    opacity: 0.9;
    padding: 20px;
    user-select: none;
    cursor: pointer;
  }
  .menu-pont:hover{
    opacity: 1;
    text-shadow: 0px 0px 1px white;
  }
}
