.introduction-container {
  color: white;
  background-color: #0c0a0dca;
  margin: auto;
  width: 70%;
  border-radius: 10px;

  h1 {
    margin: 50px;
    margin-top: 30px;
  }
  p {
    text-align: left;
    font-size: 20px;
    margin: 20px;
    opacity: 0.9;
    line-height: 31px;
  }
}

.second-screen-background {
  height: fit-content;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  /*  background-image: linear-gradient(
    180deg,
    rgb(1, 49, 97),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.137)
  ); */
}

////mobile

@media only screen and (max-width: 600px) {
  .introduction-container {
    background-color: rgba(255, 255, 255, 0.137);
    width: 95%;
    h1 {
      margin: 25px;
      margin-top: 30px;
      font-size: 22px;
    }
    p {
      text-align: left;
      font-size: 17px;
      margin: 20px;
      opacity: 0.9;
      line-height: 31px;
    }
  }
}
