
$savedBlueColor:#013161;

.App {
  text-align: center;
}

body{
  background-color: black;
  background-image: url("./img/belen-garrido.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: fit-content;
 background-blend-mode: difference;
  
}
@media only screen and (max-width: 600px) {
  body{

    background-image: url("./img/solen-feyissa-mobile.png");
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
  }

}




